* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
}

.Todo {
  list-style: none;
  background: orange;
  border-radius: 8px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: blue;
  box-shadow: 4px 8px 16px gray;
}
.TodoList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
